html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Medium;
  src: url(../fonts/FiraSans-Medium.ttf);
}
@font-face {
  font-family: MediumItalic;
  src: url(../fonts/FiraSans-MediumItalic.ttf);
}
@font-face {
  font-family: Bold;
  src: url(../fonts/RobotoSlab-Bold.ttf);
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1em;
  background: #16a085;
  overflow: hidden;
}
body .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .container .question {
  height: 15vh;
  display: flex;
  align-items: center;
  font-family: Bold, sans-serif;
  font-size: 1.5em;
  color: #2c3e50;
  text-align: center;
  user-select: none;
}
body .container .search-box {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 3%;
  background: #2c3e50;
  border-radius: 40px;
}
body .container .search-box[data-minimized=false] > .search-text {
  width: 220px;
  padding: 0 6px;
  cursor: text;
}
body .container .search-box[data-minimized=false] > .search-btn {
  background: #ecf0f1;
  border: 3px #ecf0f1 solid;
  cursor: pointer;
}
body .container .search-box .search-text {
  width: 0;
  float: left;
  padding: 0;
  font-size: 1em;
  color: #ecf0f1;
  background: none;
  border: none;
  outline: none;
  caret-color: #16a085;
  transition: 0.4s;
}
body .container .search-box .search-btn {
  width: 25px;
  height: 25px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2c3e50;
  border: 3px #2c3e50 solid;
  border-radius: 50%;
}
body .container .results-wrapper {
  width: 90vw;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  body .container .results-wrapper {
    justify-content: center;
  }
}
body .container .results-wrapper .result {
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #2c3e50;
  border: 2px #9c88ff solid;
  border-radius: 10px;
}
@media screen and (max-width: 600px) {
  body .container .results-wrapper .result {
    height: 350px;
  }
}
body .container .results-wrapper .result[data-hidden=true] {
  display: none;
}
body .container .results-wrapper .result p {
  box-sizing: border-box;
  margin: 0 10px;
}
body .container .results-wrapper .result .vidImage {
  max-width: 240px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
body .container .results-wrapper .result .vidTitle {
  margin: 10px 10px 0 10px;
  font-family: Bold, sans-serif;
  color: #16a085;
  text-decoration: none;
}
body .container .results-wrapper .result .vidTitle:hover {
  color: #9c88ff;
}
body .container .results-wrapper .result .vidDescription {
  max-width: 220px;
  max-height: 50%;
  font-family: Medium, sans-serif;
  font-size: 0.9em;
  color: #ecf0f1;
  text-align: justify;
  word-wrap: break-word;
}
body .container .results-wrapper .result .vidAuthor {
  display: flex;
  align-items: center;
  font-family: MediumItalic, sans-serif;
  color: #9c88ff;
}
body .container .results-wrapper .result .vidAuthor::before {
  content: url("../img/person.svg");
  margin-right: 5px;
}
body .container .results-wrapper .result .vidPublDate {
  display: flex;
  align-items: center;
  font-family: Bold, sans-serif;
  font-size: 0.9em;
  color: #16a085;
}
body .container .results-wrapper .result .vidPublDate::before {
  content: url("../img/calendar.svg");
  margin-right: 5px;
}
body .container .results-wrapper .result .vidViews {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: MediumItalic, sans-serif;
  color: #16a085;
}
body .container .results-wrapper .result .vidViews::before {
  content: url("../img/eye.svg");
  margin-right: 5px;
}
body .container .slider-wrapper {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 3% 0;
}
body .container .slider-wrapper .pageSwitch {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  color: #ecf0f1;
  background: #2c3e50;
  border: 2px #9c88ff solid;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
body .container .slider-wrapper .pageSwitch:hover {
  transform: scale(1.1);
}
body .container .slider-wrapper .checked {
  background: #16a085;
}

/*# sourceMappingURL=style.css.map */
